// Global Overrides and Added Styles

// Check the _settings.scss variables file first to see if you're covered there before creating a global override!

// Feel free to edit or remove most/all of these styles to make it your own. Add one-off styles to the component's own SCSS file.


// Base Styles
// -------------------------------
footer {
	background-color: $light-gray;
	text-align: center;
	padding: 25px 0 10px;
}

// Sticky Footer for Static Footer Content Only! (stuck to bottom of viewport no matter the height of body content)
.off-canvas-wrapper {
	min-height: calc(100vh - 159px);  // 100vh minus the actual height of the footer (only for static footer height)
}

main {
	padding: 20px;
	margin: 1rem 0;
}

.top-bar { 
	min-height: 60px;
	color: $primary-color;

	.appTitle {
		margin-left: 20px;
		color: $body-font-color;
	}
}

// Hamburger Menu Styling - feel free to use this or the native Foundation hamburger menu
.hamburger .line {
	width: 25px;
	height: 3px;
	background-color: $dark-gray;
	display: block;
	margin: 5px auto;
	transition: all 0.3s ease-in-out;
}

.hamburger {
	float: left;
	margin: -3px 25px 0 10px;

	&:hover {
		cursor: pointer;
	}
}

.menu a.active {
	font-style: oblique;
}


// Accessibility
// -------------------------------
// Suppress focus ring on form controls for mouse users w/ WhatInput Plugin
[data-whatintent="mouse"] *:focus {
	outline: none;
}