<h4>{{title}}</h4>
<button class="close-button" (click)="closeModal()" aria-label="Close modal" type="button">
  <span aria-hidden="true">&times;</span>
</button>
<hr>
<p>{{message}}</p>

<div *ngIf="options.length">
  <div class="btn-cont-alt">
    <button type="button" class="button secondary" (click)="closeModal()">{{options[0]}}</button>
    <button type="button" class="button primary" (click)="closeModal()">{{options[1]}}</button>
  </div>
</div>

<!-- <div *ngIf="options.length">
  <div class="btn-cont-alt">
    <button *ngFor="let option of options1" type="button" class="button primary" (click)="respond(option)">{{option}}</button>
  </div>
</div> -->